DATABASE_URL="postgresql://username:password@localhost:5432/personal_activity_aggregator"
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_ID=
APPLE_SECRET=
EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
EMAIL_FROM=hello@your.app